body {
  background-color: #4169E1;
  flex-wrap: wrap;
}
.header {
  background-color: #808080;
  color: white;
  text-decoration: none;
  list-style: none;
  border: solid;
  border-color: black;
  border-radius: 10px;
}
#img {
  max-width: 100px;
  margin-left: 50px;
  border: solid 2px black;
}
#about {
  float: right;
  padding-left: 10px;
  padding-right: 15px;
  margin: 10 px;
}
#contact {
  float: right;
  margin: 10 px;
  padding-left: 10px;
}
#comments {
  float: right;
  margin: 10 px;
  padding-left: 10px;
}
h1 {
  color:#0000FF;
  text-align: center;
  font-family: Verdana;
  font-size: 30px;
  text-shadow: 2px 2px black;
}
#MtHood {
  width:95%;
  text-align: center;
  margin-top: 5px;
  border: solid 2px black;
}

.intro {
  border: solid;
  border-color: black;
  border-radius: 10px;
  background-color: #4682B4;
  text-align: center;
  margin-top: 5px;
}
.intro p {
  font-family: Verdana;
  font-size: 15px;
}

.observe {
  float: left;
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  border: solid;
  border-color: black;
  border-radius: 10px;
  padding: 5px;
}
.social {
  float: right;
  width: 33.333333%;
    margin-left: 15px;
}
.cruzroom{
  width: 33.333333%;
  margin-bottom: 50px;
}

.body {
  background-color: #2E8B57;
  border: solid black;
  border-radius: 10px;
  margin-top: 5px;
}
.body p {
  font-size: 15px;
  font-family:Verdana;
  font-weight: bold;
}

.footer{
}

@media screen and (max-width:769px){
    body {
      background-color: red;
    }
    .body {
      background-color: white;
    }
}
#bars{
  font-size: 30px;
}
